<a href="@rss@" title="Subscribe to @podcastName@ via RSS" width="@buttonWidth@"><img src="./assets/images/rss.svg" alt="Rss" width="@buttonWidth@"></a>

<a href="@applePodcasts@" title="Listen to @podcastName@ on Apple Podcasts"><img src="./assets/images/itunes.svg" alt="Itunes" width="@buttonWidth@"></a>

<a href="https://overcast.fm/itunes@iTunesId@" title="Listen to @podcastName@ on Overcast"><img src="./assets/images/overcast.svg" width="@buttonWidth@" alt="Overcast"></a>

<a href="https://castro.fm/itunes/@iTunesId@" title="Listen to @podcastName@ on Castro"><img src="./assets/images/castro.svg" width="@buttonWidth@" alt="Castro"></a>

<!--<a href="@pocketCastUrl@" title="Listen to @podcastName@ on Pocket Casts"><img src="./assets/images/pocketcasts.svg" alt="Pocket Casts" width="@buttonWidth@"></a>-->

<a href="@spotify@" title="Listen to @podcastName@ on Pocket Casts"><img src="./assets/images/spotify.svg" width="@buttonWidth@" alt="Spotify"></a>

<a href="@radioPublic@" title="Listen to @podcastName@ on Radio Public"><img src="./assets/images/radioPublic.svg" width="@buttonWidth@" alt="Radio Public"></a>

<!--
<p>or use this URL in your favorite podcast app: <br> <a href="@rssUrl@"><code>@rssUrl@</code></a></p>-->
